#map {
	width: 100%;
}
.image-holder {
	text-align: center;
	position: relative;
	width: 100%;
	h4 {
		color: #c1c1c1;
		margin-top: 0;
	}
}
[padding] {
	padding-bottom: 10px !important;
}
#close,#new {
	width: 50%;
	float: left;
	display: inline-block;
	margin: 0;
	margin-bottom: 20px;
	border-radius: 0 !important;
}
#closeSub {
	width: 90%;
	float: left;
	display: inline-block;
	margin: 0;
	margin-bottom: 20px;
	border-radius: 0 !important;
}
#deleteSub {
	width: 10%;
	float: left;
	display: inline-block;
	margin: 0;
	margin-bottom: 20px;
	border-radius: 0 !important;
}

.gm-style>div:first-child>div {
	// display: none;
}

.media-offline {
	border: 2px solid #822;
}

#identification {
	color: #000;
	padding: 5px;
	text-align: center;
	background-color: #fff;
	position: absolute;
	width: 100%;
	height: 27px;
	// z-index: ;
	box-shadow: 0 4px 2px -2px rgba(0,0,0,.1);
	// top: 0;
}

#reloadPosition {
	--border-radius: 100px;
	position: absolute;
	z-index: 9998;
	width: 55px;
	height: 55px;
	top: 120px;
	right: 8px;
}

ion-content {
	--background: #fff !important;
}

.btn-settings {

	position: absolute;
    top: 3px;
    right: 6px;
    border-radius: 100px;
    z-index: 10;
    width: 30px;
    height: 30px;
    padding: 0;

	ion-icon {
		font-size: 24px;
	    position: relative;
	    top: 1px;
	}
}

#recording-audio {
	display: flex;
    position: absolute;
    z-index: 9999;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,.5);

	div {
		width: 100%;
	    height: 250px;
	    margin: auto;
	    text-align: center;
	    z-index: 9999;
	    position: relative;
	    color: red;
	}
}